body {
  background-color: #1c2833; /* dark blue-gray background */
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.map-view {
  height: 500px;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;   /* centers horizontally */
  border: 2px solid #ccc;  /* optional */
  border-radius: 12px;
  overflow: hidden;
}

